aiohttp~=3.11.10
beautifulsoup4~=4.12.3
pdfkit~=1.0.0
jinja2
boto3~=1.35.81
fastapi~=0.115.6
uvicorn
websockets
fastapi[standard]
uvicorn[standard]
playwright~=1.50.0
starlette~=0.41.3
botocore~=1.35.81
requests~=2.32.3